<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>AutoMag</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container"><a href="https://themes.getbootstrap.com" class="navbar-brand">AutoMagRu</a>
        <div class="d-flex ml-auto">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#globalNavbar" aria-controls="globalNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="globalNavbar">
            <form class="form-inline form-navbar my-2 my-lg-0 order-2" action="https://themes.getbootstrap.com/shop/">
                <input class="form-control" name="s" type="text" placeholder="Найти">
            </form>
            <ul class="navbar-nav mr-auto order-1">
                <li class="nav-item"><a class="nav-link" >Автомобили</a></li>
                <li class="nav-item"><a class="nav-link" >Разместить пост</a></li>
                <li class="nav-item"><a class="nav-link" >Личный кабинет</a></li>
            </ul>
            <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
                <li class="nav-item"><a class="nav-link" >Авторизоваться</a></li>
                <li class="nav-item"><a class="nav-link" >Зарегистрироваться</a></li>
                <li class="nav-item"><a class="nav-link" >Выйти</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Модель</th>
        <th scope="col">Марка</th>
        <th scope="col">Цена</th>
        <th scope="col">Дата публикации</th>
        <th scope="col">Подробная информация</th>
        <th scope="col">Продано/Не продано</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
    </tr>
    </tbody>
</table>

</body>

</html>